#home{
    height: 100dvh;
}

.typewriter {
  font-family: monospace;
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.5em;
  background-color: grey;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

#projects .card{
  overflow: hidden;
  &:hover img{
    transform: scale(1.2);
  }
}

#projects img{
  transition: all 0.6s;
}

h1{
  font-size: calc(1.2em * 3);
}

nav{
  transition: all 0.3s;
}

.fade-in{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.active{
  opacity: 1;
  transform: translateY(0);
}
/* .animateOnScroll{
  transition: all 2s;
} */

.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: none;
}